/* line 1, style.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 1, style.scss */
body {
  margin: 0;
}

/* line 1, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 1, style.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 1, style.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, style.scss */
[hidden], template {
  display: none;
}

/* line 1, style.scss */
a {
  background: transparent;
}

/* line 1, style.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, style.scss */
dfn {
  font-style: italic;
}

/* line 1, style.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 1, style.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, style.scss */
small {
  font-size: 80%;
}

/* line 1, style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, style.scss */
sup {
  top: -.5em;
}

/* line 1, style.scss */
sub {
  bottom: -.25em;
}

/* line 1, style.scss */
img {
  border: 0;
}

/* line 1, style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, style.scss */
figure {
  margin: 1em 40px;
}

/* line 1, style.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 1, style.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 1, style.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 1, style.scss */
button {
  overflow: visible;
}

/* line 1, style.scss */
button, select {
  text-transform: none;
}

/* line 2, style.scss */
button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, style.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 2, style.scss */
input {
  line-height: normal;
}

/* line 2, style.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 2, style.scss */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/* line 2, style.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, style.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, style.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 2, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, style.scss */
td, th {
  padding: 0;
}

/* line 2, style.scss */
b, strong, optgroup {
  font-weight: 700;
}

/* line 2, style.scss */
pre, textarea {
  overflow: auto;
}

/* line 2, style.scss */
button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

/* line 4, style.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, style.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 16, style.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 17, style.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 19, style.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 24, style.scss */
input {
  display: none;
}

/* line 28, style.scss */
.wrapper {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #333;
  position: relative;
}
/* line 36, style.scss */
.wrapper .mobileonly {
  display: none;
}
/* line 40, style.scss */
.wrapper p {
  line-height: 25px;
}
/* line 44, style.scss */
.wrapper .sidebar {
  width: 30%;
  background: lightgrey;
  color: #333;
  float: left;
  position: absolute;
  top: 100px;
  bottom: 0;
}
/* line 53, style.scss */
.wrapper .sidebar label {
  width: 100%;
  border-bottom: 1px solid white;
}
/* line 60, style.scss */
.wrapper input:checked + div {
  display: block;
}
/* line 64, style.scss */
.wrapper .maincontent {
  display: none;
}
/* line 68, style.scss */
.wrapper .main {
  width: 70%;
  float: right;
  padding-left: 20px;
}
/* line 73, style.scss */
.wrapper .main h2 {
  margin-top: 0;
}
/* line 79, style.scss */
.wrapper label {
  background: lightgrey;
  display: inline-block;
  float: left;
  width: 32.8%;
  padding: 10px;
  margin: 1px 0.25%;
}
/* line 88, style.scss */
.wrapper .option2:checked[type="checkbox"] + .content2 {
  display: block;
}
/* line 92, style.scss */
.wrapper .option3[type="checkbox"]:checked + .content3 {
  display: block;
}
/* line 96, style.scss */
.wrapper input[type="checkbox"]:checked + .content {
  display: none;
}
/* line 100, style.scss */
.wrapper .content {
  clear: both;
  padding: 1px 0 0 0;
}
/* line 106, style.scss */
.wrapper .content2,
.wrapper .content3 {
  display: none;
}

@media all and (max-width: 767px) {
  /* line 114, style.scss */
  .wrapper {
    width: 96%;
    padding: 5px;
  }
  /* line 118, style.scss */
  .wrapper .desktoponly {
    display: none;
  }
  /* line 122, style.scss */
  .wrapper .mobileonly {
    display: block;
  }
  /* line 126, style.scss */
  .wrapper input:checked + .content {
    display: none;
  }
  /* line 130, style.scss */
  .wrapper .option2:checked + .content {
    display: block;
  }
  /* line 134, style.scss */
  .wrapper .option3:checked + .content {
    display: block;
  }
  /* line 138, style.scss */
  .wrapper label {
    display: inline-block;
    width: 100%;
  }
}
