/* line 1, style.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 1, style.scss */
body {
  margin: 0;
}

/* line 1, style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 1, style.scss */
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 1, style.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, style.scss */
[hidden], template {
  display: none;
}

/* line 1, style.scss */
a {
  background: transparent;
}

/* line 1, style.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, style.scss */
dfn {
  font-style: italic;
}

/* line 1, style.scss */
h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* line 1, style.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, style.scss */
small {
  font-size: 80%;
}

/* line 1, style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, style.scss */
sup {
  top: -.5em;
}

/* line 1, style.scss */
sub {
  bottom: -.25em;
}

/* line 1, style.scss */
img {
  border: 0;
}

/* line 1, style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, style.scss */
figure {
  margin: 1em 40px;
}

/* line 1, style.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 1, style.scss */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 1, style.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 1, style.scss */
button {
  overflow: visible;
}

/* line 1, style.scss */
button, select {
  text-transform: none;
}

/* line 2, style.scss */
button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 2, style.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 2, style.scss */
input {
  line-height: normal;
}

/* line 2, style.scss */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* line 2, style.scss */
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/* line 2, style.scss */
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 2, style.scss */
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 2, style.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

/* line 2, style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, style.scss */
td, th {
  padding: 0;
}

/* line 2, style.scss */
b, strong, optgroup {
  font-weight: 700;
}

/* line 2, style.scss */
pre, textarea {
  overflow: auto;
}

/* line 2, style.scss */
button::-moz-focus-inner, input::-moz-focus-inner, legend {
  border: 0;
  padding: 0;
}

/* line 4, style.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, style.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 13, style.scss */
input {
  display: none;
}

/* line 17, style.scss */
input:checked + p {
  display: none;
}

/* line 21, style.scss */
.wrapper {
  width: 90%;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid green;
}
/* line 29, style.scss */
.wrapper label {
  background: grey;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

@media all and (max-width: 767px) {
  /* line 43, style.scss */
  .wrapper {
    width: 96%;
    padding: 5px;
    border: 1px solid pink;
  }
}
